@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Vidaloka&display=swap');

body {
    background-image: url('background.svg');
    z-index: 0;
    width: 100%;
    max-height: 100%;
}

@media screen and (min-width: 1200px){
    body {
        background-size: cover;
    }
}

@media screen and (max-width: 600px) {
    .top-border {
        width: 70%;
    }
    .bottom-border {
        width: 70%;
    }
}

.top-border {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    content: url('top-border.svg');
}

.bottom-border {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    content: url('bottom-border.svg');
}

h1 {
    font-family: 'Alex Brush', cursive;
    top: 46%;
    text-align: center;
    width: 100%;
    position: absolute;
    color: #653937;
    overflow: hidden;
    white-space: nowrap;
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}